<!-- <section class="advantages container">
  <h2 class="adv-title">Our advantages</h2>
  <div class="adv-content">
    <ul class="adv-list">
      <li class="adv-list-item">
        <h3 class="adv-list-item-title">Kompleksowe podejście do reklamy</h3>
        <p class="adv-list-item-text">
          Zajmujemy się wszystkim - od projektu graficznego po druk i doradztwo
          w zakresie marketingu.
        </p>
      </li>
      <li class="adv-list-item">
        <h3 class="adv-list-item-title">Говоримо Українською</h3>
        <p class="adv-list-item-text">
          Posiadamy własnych projektantów i specjalistów ds. marketingu, którzy
          wiedzą, jak stworzyć skuteczne rozwiązania.
        </p>
      </li>
      <li class="adv-list-item">
        <h3 class="adv-list-item-title">Szybkie terminy realizacji</h3>
        <p class="adv-list-item-text">
          Gwarantujemy krótkie czasy wykonania, nie tracąc przy tym na jakości.
        </p>
      </li>
    </ul>
  </div>
</section> -->
