<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <!-- logo -->
      <a href="./index.html" class="header-logo-link">
        <img
          src="../img/logo header/big-fish-logo-header.png"
          alt="Big Fish Logo"
          width="450"
          class="header-logo"
        />
      </a>
      <!-- menu -->
      <ul class="header-list">
        <li class="header-list-item">główna</li>
        <li class="header-list-item">o nas</li>
        <li class="header-list-item">oferta</li>
        <li class="header-list-item">cennik</li>
        <li class="header-list-item">kontakt</li>
      </ul>
      <!-- kontakt -->
      <a class="kontakt-btn" target="_self" href="https://wa.me/48574665774">
        <div class="header-kontakt-btn">
          <img
            src="../img/kontakt btn wa/wapp-kont-btn-logo.png"
            alt="whattsapp icon"
            width="20"
            height="20"
            class="kontakt-btn-icon"
          />
          <span class="kontakt-btn-text">szybki kontakt</span>
        </div>
        <span class="kontakt-btn-tel">+48574665774</span>
      </a>
    </nav>

    <!-- burger -->
    <button
      class="burget-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <img
        src="../img/burger/druk-big-fish-burger-btn.png"
        alt="Big Fish Logo"
        width="100"
        class="burger-img"
      />
    </button>
  </div>
</header>
