<section class="how-to container">
  <div class="how-to-main">
    <p class="before-title">Wybór profesjonalnej drukarni</p>
    <h2 class="how-to-title">
      Czynniki, które warto wziąć pod uwagę przy zamawianiu materiałów
      reklamowych
    </h2>
    <div class="how-to-content">
      <div class="approach">
        <p class="approach-text">
          Nasze podejście to połączenie wysokiego profesjonalizmu i
          kompleksowych rozwiązań dla Twojego biznesu. Oferujemy pełen zakres
          usług w jednym miejscu, oszczędzając Twój czas i eliminując zbędne
          formalności.
        </p>
        <button type="button">Skontaktuj się z nami teraz</button>
      </div>
      <div class="approach-list">
        <ul class="our-app-list">
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title">Druk najwyższej jakości</h3>
            <p class="our-app-list-item-text">
              Nowoczesne technologie i najlepsze materiały dla perfekcyjnego
              efektu.
            </p>
          </li>
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title">
              Indywidualne podejście do każdego klienta
            </h3>
            <p class="our-app-list-item-text">
              Rozumiemy potrzeby i dopasowujemy rozwiązania.
            </p>
          </li>
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title">
              Kompleksowe usługi w jednym miejscu
            </h3>
            <p class="our-app-list-item-text">
              Od projektu po gotowy produkt - zajmujemy się wszystkim.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <img src="" alt="sertificate of quality" class="sertificate" />
  </div>
</section>
