<section class="how-to container">
  <div class="how-to-main">
    <p class="before-title"></p>
    <h2 class="how-to-title"></h2>
    <div class="how-to-content">
      <div class="approach">
        <p class="approach-text"></p>
        <button type="button"></button>
      </div>
      <div class="approach-list">
        <ul class="our-app-list">
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title"></h3>
            <p class="our-app-list-item-text"></p>
          </li>
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title"></h3>
            <p class="our-app-list-item-text"></p>
          </li>
          <li class="our-app-list-item">
            <h3 class="our-app-list-item-title"></h3>
            <p class="our-app-list-item-text"></p>
          </li>
        </ul>
      </div>
    </div>
    <img src="" alt="sertificate of quality" class="sertificate" />
  </div>
</section>
