<section class="reviews container">
  <h2 class="rev-main-title">Reviews from our customers</h2>
  <div class="rev-flex">
    <ul class="rev-list">
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text"></p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname"></h3>
                <p class="rev-person-name-city"></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text"></p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname"></h3>
                <p class="rev-person-name-city"></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="rev list-item">
        <div class="rev-content">
          <p class="rev-text"></p>
          <div class="rev-person">
            <div class="rev-person-details">
              <img src="" alt="" />
              <div class="rev-person-name">
                <h3 class="rev-person-name-surname"></h3>
                <p class="rev-person-name-city"></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
