<section class="serv-nav container">
  <div class="serv-nav-main">
    <h2 class="serv-nav-main-title">Nasze usługi</h2>
    <ul class="serv-nav-list">
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
      <li class="serv-nav-list item">
        <img src="" alt="" class="serv-nav-png" />
        <a href="" class="serv-nav-item-anchor">
          <h3 class="serv-nav-item-title"></h3>
        </a>
      </li>
    </ul>
  </div>
</section>
