/*

.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}
*/

@media only screen and (max-width: 1200px) {
  .kontakt-btn,
  .header-list {
    display: none;
  }
}

/* -- mobile -- */
.burget-btn {
  background-color: transparent;
  border: 0;
  line-height: 0;
}

/* --- tablet --- */

/* ---- desktop ---- */

@media only screen and (min-width: 1200px) {
  .burget-btn {
    display: none;
  }

  .kontakt-btn,
  .header-list {
    display: block; /* або flex — залежно від твого дизайну */
  }

  .header-nav {
    display: flex; /* Увімкнути флекс-контейнер */
    align-items: center; /* Вирівнювати по центру вертикально */
    justify-content: space-between;
  }

  .header-list {
    display: flex; /* В один рядок */
    gap: 30px;
    text-transform: uppercase; /* ВСІ ЛІТЕРИ ВЕЛИКІ */
  }

  .kontakt-btn {
    display: inline-flex;
    align-items: center;
    flex-direction: column; /* Елементи один під одним */
    justify-content: center;
    background-color: #c00e19;
    padding: 12px 20px 8px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    transition: background 0.3s ease, transform 0.3s ease;
    gap: 5px;
  }

  .kontakt-btn-top {
    display: flex;
    align-items: center; /* Іконка і текст по центру вертикалі */
    gap: 8px; /* Відстань між іконкою і текстом */
  }

  .kontakt-btn:hover .kontakt-btn-icon {
    transform: translateY(-2px); /* Піднімаємо іконку трохи вгору */
    transition: transform 0.3s ease; /* Плавність руху */
  }

  .kontakt-btn:hover .kontakt-btn-text {
    color: #00aaff; /* Світло-блакитний або будь-який інший */
    transition: color 0.3s ease; /* Плавність переходу кольору */
  }

  .kontakt-btn:hover {
    background-color: #f0f8ff; /* Трошки світліший фон при наведенні */
    border-radius: 8px; /* Скруглення, якщо хочеш */
    transition: background-color 0.3s ease;
  }
}
