.serv-nav-main-title {
  position: relative; /* обов'язково для ::after */
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.serv-nav-main-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px; /* трошки нижче тексту */
  transform: translateX(-50%); /* щоб лінія була по центру */
  width: 90%; /* ширина підкреслення */
  height: 2px; /* товщина лінії */
  background-color: #fff; /* колір лінії */
}

.serv-nav-item-anchor {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

.serv-nav-list-item {
  position: relative; /* обов'язково для ::after */
  padding-bottom: 20px; /* щоб було місце для лінії */
  margin-bottom: 20px; /* відступ після підкреслення */
}

.serv-nav-list-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 90%; /* ширина лінії */
  height: 1%; /* товщина лінії */
  background-color: #fff; /* або інший колір */
}
